[Desktop Entry]
Icon=text-plain
Name=README.txt
Type=Link
URL[$e]=file:///mnt/hdd/ELDEN RING v.1.06 (2022)/Elden Ring/Game/README.txt
X-KDE-LastOpenedWith=emacsclient
