[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/jpeg;
Exec=env WINEPREFIX="/home/apex/GodOfWar" wine start /ProgIDOpen pjpegfile %f
NoDisplay=true
StartupNotify=true
Icon=ECB7_iexplore.0
